*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inpInfos{
    padding-top: 2vh;
    height: 50vh;
    width: 50vh;
    background-color: rgb(7, 134, 245);
}

.infos{
    padding-top: 2vh;
}

.inputs{
    height: 3vh;
}

button{
    width: 8vh;
    height: 3vh;
}