* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    color: white;
    display: flex;
    justify-content: center;
}

.model {
    display: hidden;
}

input {
    height: 2.5vh;
}

button {
    height: 3.8vh;
    width: 10vh;
}

thead,
tr,
th,
table {
    border: 1px solid white
}

.main {
    background-color: rgb(0, 58, 77);
    font-size: 2vh;
}

.inputs{
    height: 30vh;
    width: 30vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
}

.inputs>input, button{
    height: 3vh;
    width: 20vh;
}