main {
    height: 100vh;
    display: flex;
    justify-content: center;
    
}

.container {
    margin: auto;
    height: 250px;
    width: 300px;
    background-color: rgb(125, 125, 125);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:30px;
}

.container label,input {
    margin: 5px;
    width: 163px;

}

.container button {
    height: 20px;
    width: 100px;
    margin: 20px;
}